// import Terra
@import "terra/terra";

// custom styles

.task {
	@include clearfix();
	padding: spacing('xs') 0;
	border-bottom: 1px solid grayscale('light-2');
	&__name {
		float: left;
	}
	&__options {
		float: right;
	}
	&:last-child {
		border-bottom: 0px;
	}
}

.project {
	&__task-list {
		@include list-unstyled();
		padding: spacing('md') 0;
	}
}